{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Reasons for Government Intervention in Markets</title>
    <link rel="stylesheet" href="{% static 'main/essays/chapter6/6.1.css' %}">
</head>
<body>
    <nav>
        <ul>
            <div class="logo">
                <img src="{% static 'main/home_images/logo.png' %}" alt="mewconomics-logo">
                <a href="{% url 'main:home' %}">BACK TO HOME</a>
            </div>

            <div class="buttons">
                <li><a href="#">NEWS</a></li>
                <li><a href="{% url 'main:essays' %}">ESSAYS</a></li>    
            </div>
        </ul>
    </nav>

    <main>
        <article>
            <h2>The Reasons for International Trade</h2>

            <h3>Unit 6.1 in Chapter 6: International economic issues</h3>

            <div class="question-background">
                <p>
                    EXPLAIN THE BENEFITS OF FREE TRADE AS SUGGESTED BY THE PRINCIPLE OF COMPARATIVE ADVANTAGE. [8]
                </p>    
            </div>

            <div class="source-background">
                <p>SOURCE:  CAIE, ECONOMICS, 9708, PAPER 2, VARIANT 3, MAY / JUNE, 2019</p>
            </div>

            <div class="video">
                <img src="{% static 'main/social_media_icons/youtube.svg' %}">
                <a href="#">VIDEO REFERENCE LINK</a>
            </div>

            <h4>Podcast:</h4>
            <audio controls src="{% static 'main/podcasts/chapter6/6.1.m4a' %}"></audio>

            <h4>Model Answer written by Anuj:</h4>
            
            <h5>AO1 (2 MARKS)</h5>

            <p>
                Free trade is when trade occurs between countries without restrictions or barriers. 
                Comparative advantage is the idea that two countries should specialise in goods and 
                services they can produce at a lower opportunity cost compared to another country.
            </p>

            <h5>AO2 (4 MARKS)</h5>

            <p>
                An important benefit of free trade is the increase in world efficiency due to a more efficient allocation of 
                resources where countries have their comparative advantage. The basic economic problem is solved by maximising 
                net benefit to both consumers and producers. There is also increased choice for consumers and businesses.

            </p>

            <p>
                Raw materials can be sourced from all around at the cheapest prices. Businesses can lower prices, gain greater market 
                share and enjoy higher profitability. Consumer welfare and standards of living improve.
            </p>

            <h5>AO3 (2 MARKS)</h5>

            <p>
                There is a slight risk of over-specialisation and a decline in industries that rely on comparative advantage too much.
            </p>

            <p>
                In conclusion, in an ever-increasing globalised world, free trade and making use of comparative advantage reap many benefits 
                because everyone benefits from trade.
            </p>

            <div class="question-background">
                <p>
                    DISCUSS WHETHER A COUNTRY SHOULD BE MORE CONCERNED BY A FALL IN ITS TERMS OF TRADE OR A FALL IN 
                    ITS DOMESTIC PRICE LEVEL. [12]
                </p>    
            </div>

            <h4>Model Answer written by Yijun:</h4>

            <h5>AO1 (2 MARKS)</h5>

            <p>
                Terms of trade are measured by the ratio of the index of export prices to the index of import prices. 
                In the real world, international trade involves many countries and numerous products; therefore, a 
                country’s terms of trade are often computed as an index number.
            </p>

            <img src="{% static 'main/essay_images/chapter6/6.1.png' %}" class="image">

            <h5>AO2 (6 MARKS)</h5>

            <p>
                A fall in the index of a country’s Terms of Trade (TOT), also known as unfavourable movement, is 
                attributed to decreasing prices of its exports, and/or increasing prices of its imports. It means 
                that the country can import less in return for any given amount of exports. This will reduce the 
                international purchasing power of a country; however, it may benefit or harm the country in many 
                different ways. 
            </p>

            <p>
                Advantage (Elastic)
            </p>

            <p>
                A fall in TOT will have a detrimental effect on trade of goods and employment in the country. The 
                reason for this is that a fall in relative prices of exports may, assuming a high price elasticity 
                of demand, lead to a rise in total value of export sales, whereas an increase in prices of imports 
                will make them relatively unattractive, so imports decline. In both cases, trade balance improves and 
                employment may rise in the export industry.
            </p>

            <p>
                Disadvantage (Inelastic)
            </p>

            <p>
                However, when international demand for the country’s exports is price inelastic, the given fall in 
                prices of exports will generate a proportionately small rise in its quantity exported, thus resulting 
                in a fall in export earnings and worsening trade balance. Similarly, if imports are demanded 
                inelastically, this will continue to worsen the deficit, also cause cost-push inflation when raw 
                materials are imported and reduce employment.
            </p>

            <p>
                Deflation is defined as a sustained period where general price levels fall. It is normally associated 
                with falling levels of AD, leading to a negative output gap where actual GDP falls short of potential 
                GDP.
            </p>

            <p>
                Disadvantage
            </p>

            <p>
                It is an indicator of declining economic activity. In recession, falling AD drives prices down. Firms 
                are forced to cut down production, and this leads to unemployment. Household incomes fall and AD falls 
                more. This results in a decline in all types of spending, resulting in level economic activities to 
                decrease. The real value of household, corporate, and government debt rises when price falls - another 
                factor that continues to reduce spending. 
            </p>

            <p>
                Advantage
            </p>

            <p>
                Definition is not necessarily bad! If falling prices are caused by higher productivity, then it can go 
                hand in hand with robust growth. It will also benefit the trade balance as it increases competitiveness 
                of exports and reduces levels of imports. Nevertheless, this is subject to elasticity of exports and 
                income elasticity of demand for imports
            </p>

            <h5>AO3 (4 MARKS)</h5>

            <p>
                The discussion suggests that the negative impact of deflation is more extensive and harmful than 
                worsening TOT. Many countries, such as China, economically thrive with unfavourable TOT and have been 
                able to cope with it by implementing appropriate policies. While coping with deflation is relatively 
                more complicated and requires more dynamic set of policies.<br> 
                + Discussion of the relative extent and impact of each occurrence
            </p>
        </article>

        <h4 class="comment">Comments:</h4>

        <form action="{% url 'main:essay' chapter subtopic %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>

        <div class="comment-background">
            {% for comment in comment_list %}
            <p>
                <span class="content">{{ comment.content }}</span><br>
                <span class="info">POSTED {{ comment.date }} BY {{ comment.author }}</span>
            </p>
            <br>
            {% endfor %}
        </div>
    </main>

    <footer>
		<a href="#"><img src="{% static 'main/social_media_icons/gmail.svg' %}" alt="Gmail"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/instagram.svg' %}" alt="Instagram"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/linkedin.svg' %}" alt="LinkedIn"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/facebook.svg' %}" alt="Facebook"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/x.svg' %}" alt="X"></a>
	</footer>
</body>