{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Reasons for Government Intervention in Markets</title>
    <link rel="stylesheet" href="{% static 'main/essays/chapter4/chapter4.css' %}">
</head>
<body>
    <nav>
        <ul>
            <div class="logo">
                <img src="{% static 'main/home_images/logo.png' %}" alt="mewconomics-logo">
                <a href="{% url 'main:home' %}">BACK TO HOME</a>
            </div>

            <div class="buttons">
                <li><a href="#">NEWS</a></li>
                <li><a href="{% url 'main:essays' %}">ESSAYS</a></li>    
            </div>
        </ul>
    </nav>

    <main>
        <article>
            <h2>Current Account of the Balance of Payments</h2>

            <h3>Unit 6.3 in Chapter 6: International economic issues</h3>

            <div class="question-background">
                <p>
                    EXPLAIN HOW A HIGH RATE OF INFLATION AND A RISE IN AN ECONOMY'S EXCHANGE RATE 
                    CAN EACH CAUSE A DEFICIT IN AN ECONOMY'S CURRENT ACCOUNT OF THE BALANCE OF PAYMENTS
                </p>    
            </div>

            <div class="source-background">
                <p>SOURCE: CAIE, ECONOMICS, 9708, PAPER 2, VARIANT 2, MAY / JUNE, 2018, QUESTION __, 12 MARKS</p>
            </div>

            <div class="video">
                <img src="{% static 'main/social_media_icons/youtube.svg' %}">
                <a href="#">VIDEO REFERENCE LINK</a>
            </div>

            <h4>Podcast:</h4>
            <audio controls src="{% static 'main/podcasts/chapter3/3.1.m4a' %}"></audio>

            <h4>Model Answer written by Anuj:</h4>
            
            <h5>AO1 (2 MARKS)</h5>

            <p>
                Inflation refers to a rise in general prices. A rise in exchange rate describes appreciation, which means that 
                the economy’s currency can buy more of another’s. The current account is a component of the balance of payments 
                that tracks all the transactions of goods and services as well as income and transfer payments between citizens of 
                a country and residents abroad.

            </p>

            <h5>AO2 (6 MARKS)</h5>

            <p>
                A high rate of inflation will increase domestic prices, including the prices of of exports. They become relatively more 
                expensive for foreign buyers, leading to a decrease in the quantity demanded for exports especially if demand is price 
                elastic. Conversely, the prices of imports are less affected by domestic inflation so there will be a relative increase 
                in quantity demanded for imports. This causes a current account deficit consequently.
            </p>

            <p>
                An appreciation of the exchange rate can make exports more expensive and imports cheaper which can make the economy’s export-orientated 
                firms less competitive internationally. The demand for imports and therefore expenditure on imports will rise whereas the demand for exports
                and therefore the revenue generated by exports will decrease. This leads to a negative balance of trade and causes a deficit on the current 
                account. 
            </p>

            <h5>AO3 (4 MARKS)</h5>

            <p>
                It is important to consider the relative rate of inflation between the domestic economy and its trading partners. If the trading partner’s inflation 
                is greater than the domestic inflation rate, there may be a current account surplus rather than a deficit.
            </p>

            <p>
                If the Marshall-Lerner condition is not met (where the price elasticity of demand for imports and exports s less than 1), then a currency appreciation may 
                worsen the current account balance as the decrease in export revenue may be outweighed by the increase in import expenditure. However, an appreciation might 
                improve the current account balance if the elasticities are greater than 1.
            </p>

            <p>
                The J-curve effect can be used to explain the impacts on the current account on different time scales. Initially after a currency appreciation, the current 
                account effects are not apparent immediately. This is because, in the short term, existing export contracts may not decrease the volume of exports significantly. 
                Similarly, consumers and businesses may not immediately adjust their import behavior in response to lower prices. There may be a short-term deterioration but long-term 
                improvement in the current account, because in the long run, exporters may negotiate new contracts and seek new markets, maintaining competitiveness.

            </p>

            <p>
                In conclusion, generally speaking, a high rate of inflation and a rise in an economy’s exchange rate can cause a deficit in the current account, but there may be long-term 
                improvements with regards to appreciation.
        </article>

        <h4 class="comment">Comments:</h4>

        <form action="{% url 'main:essay' chapter subtopic %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>

        <div class="comment-background">
            {% for comment in comment_list %}
            <p>
                <span class="content">{{ comment.content }}</span><br>
                <span class="info">POSTED {{ comment.date }} BY {{ comment.author }}</span>
            </p>
            <br>
            {% endfor %}
        </div>
    </main>

    <footer>
		<a href="#"><img src="{% static 'main/social_media_icons/gmail.svg' %}" alt="Gmail"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/instagram.svg' %}" alt="Instagram"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/linkedin.svg' %}" alt="LinkedIn"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/facebook.svg' %}" alt="Facebook"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/x.svg' %}" alt="X"></a>
	</footer>
</body>