html, body{
    padding: 0;
    margin: 0;
}

.navbar{
    width: 100%;
    height: 478px;
    background-color: #1f1947;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.container{
    text-align: center;
    color: #b8a0ed;
}

h1{
    font-size: 90px;
    color: #8d99f1;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

img{
    padding-top: 10px;
    width: 30%;
    margin-bottom: -25px;
}

.back-to-home {
    display: block;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
    text-decoration: underline;
}

.buttons{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 15px 80px;
    border: 2px solid #b8a0ed;
    border-radius: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-decoration: underline;
    /* transition: background-color 0.3s ease; */
    margin: 0 20px;
}

.topic-headers{
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.title{
    padding: 20px 60px;
    width: 400px;
    border: 5px solid #8d99f1; 
    border-radius: 70px; 
    color: #4d2e92; 
    font-size: 66px;
    font-weight: bold;
    background-color: transparent;
    margin: 0 35px;
}

body{
    background-color: #e6e7e8;
}

@font-face {
    font-family: 'Baskerville Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville Normal'), url("../main/font/baskvl.d45976254f9e.woff") format('woff');
}

@font-face {
    font-family: 'Baskerville Light';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville Light'), url("../main/font/BASKE9.ff677a5c3a18.woff") format('woff');
    }

h2{
    font-family: 'Baskerville Normal';
    font-size: 32px;
    color: #4d2e92;
}

li{
    font-family: 'Baskerville Light';
    list-style-type: none;
    margin-left: -1.7em;
    padding: 5px;
    font-size: 25px;
    color: #5a69b7;
    font-weight: 500;
}

footer {
    background-color: #271d4f;
    height: 14rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 1.5rem;
}

a img {
    width: 3.5rem;
    height: 3.5rem;
} 

img[alt="Gmail"] {
    width: 4.5rem;
    height: 4.5rem;
}

@media screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
        justify-content: center;
        justify-items: center;
        padding-top: 10px;
        gap: 30px;
    }
    
    .grid-item{
        width: 450px;
    }

    @media (min-width: 600px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr); /* Two columns when the screen width is at least 600px */
        }

        a img {
            width: 4rem;
            height: 4rem;
        } 
        
        img[alt="Gmail"] {
            width: 5rem;
            height: 5rem;
        }
        
        footer {
            gap: 6rem;
        }
    }
}