@import url("chapter1.54408dbfae8d.css");

@media screen and (min-width: 768px) {
    h5:nth-of-type(3) {
        margin-left: 10.5rem;
    }

    h5:nth-of-type(5) {
        margin-left: 8rem;
    }
}