{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Resource Allocation in Different Market Systems</title>
    <link rel="stylesheet" href="{% static 'main/essays/chapter1/1.4.css' %}">
</head>
<body>
    <nav>
        <ul>
            <div class="logo">
                <img src="{% static 'main/home_images/logo.png' %}" alt="mewconomics-logo">
                <a href="{% url 'main:home' %}">BACK TO HOME</a>
            </div>

            <div class="buttons">
                <li><a href="#">NEWS</a></li>
                <li><a href="{% url 'main:essays' %}">ESSAYS</a></li>    
            </div>
        </ul>
    </nav>

    <main>
        <article>
            <h2>Resource Allocation in Different Market Systems</h2>

            <h3>Unit 1.4 in Chapter 1: Basic economic ideas and resources</h3>

            <div class="question-background">
                <p>
                    ASSESS WHETHER ALL MARKET ECONOMIES SHOULD BECOME MIXED ECONOMIES.
                </p>    
            </div>

            <div class="source-background">
                <p>SOURCE:  CAIE, ECONOMICS, 9708, PAPER 2, VARIANT 2, FEBRUARY / MARCH, 2023, QUESTION 2B, 12 MARKS</p>
            </div>

            <div class="video">
                <img src="{% static 'main/social_media_icons/youtube.svg' %}">
                <a href="#">VIDEO REFERENCE LINK</a>
            </div>

            <h4>Podcast:</h4>
            <audio controls src="{% static 'main/podcasts/chapter1/1.4.m4a' %}"></audio>

            <h4>Model Answer written by Bryan Yeo:</h4>

            <h5>AO1 (2 MARKS)</h5>

            <p>
                A market economy is one in which market forces are allowed to guide the allocation of 
                resources within a society. A mixed economy is an economy that has the features of both 
                a market economy and a centrally planned economy, using the forces of supply and demand 
                to allocate resources, with the government sometimes intervening to influence the 
                allocation of resources, usually to address market and information failures.
            </p>

            <h5>AO2 (6 MARKS)</h5>
            <h5>Must be two-sided; the first paragraph is an ideal structure with two main points: the 
                price mechanism and consumer sovereignty
            </h5>

            <p>
                In a pure market economy, there is no (or minimal) government intervention; only market 
                forces in the form of supply and demand influence the allocation of resources. Hence, 
                this enables price to play a key role, acting as a reliable signal for decision-making 
                when there is a change in consumer preferences. For instance, a producer would seek to 
                reduce prices when faced with a decrease in demand. As a result, this allows them to 
                efficiently allocate resources towards the production of goods and services that satisfy 
                the wants of consumers. Furthermore, minimal government intervention spurs competition 
                amongst producers. This is because low barriers to entry and the profit-maximising incentive 
                drive more and more firms to enter the market and, as such, compete to produce better goods 
                and services to earn more revenue. This incentivises firms to cut down on their costs of 
                production to maximise profit as they seek to beat out competitors, hence making production 
                more efficient. It also encourages firms to innovate as they seek to raise the quality of 
                their goods and lower the price of their goods, attracting more consumers and capturing a 
                larger share of the market. As a result, consumers experience consumer sovereignty as they 
                have a wide choice of products to choose from when more firms enter the market.
            </p>

            <p>
                However, it is important to note that no public goods (goods that are non-rival and 
                non-excludable in nature) will be provided in this market structure. This is due to the 
                free-rider problem, where consumers can enjoy goods without paying for them. The problem of 
                information failure can also cause firms to overproduce demerit goods and underproduce merit 
                goods as price does not reflect the externalities generated by these types of goods. For 
                example, merit goods such as education and healthcare, when left to market forces, may be 
                underconsumed as some are unable to afford it due to its overpriced nature and some may be 
                unwilling to pay for them as they are not fully aware of the positive externalities generated 
                by these goods, leading to inequitable access to education and healthcare, whereas demerit goods 
                such as cigarettes are overconsumed due to them being underpriced and overvalued as consumers 
                do not fully understand the negative externalities associated with the consumption of these 
                demerit goods.  There may also exist some markets that are prone to price fluctuations if left 
                fully to market, where prices remain unstable (too high or too low) for long periods of time, 
                which may affect consumer and business confidence.
            </p>

            <h5>AO3 (4 MARKS)</h5>
            <h5>May consider public goods, merit goods, demerit goods, and price mechanism, leading to an overall 
                conclusion (last paragraph)
            </h5>

            <p>
                While a free market economy has its advantages, such as its more efficient allocation of 
                resources and its promotion of competition and incentive to innovate, the absence of the 
                provision of <u>public goods</u> and the overproduction and underproduction of <u>demerit</u> and <u>merit goods</u>, 
                respectively, may outweigh these advantages in the long run and may end up causing market failures 
                and deadweight losses, both of which result in the loss of economic efficiency.
            </p>

            <p>
                A mixed economy allows social welfare to be protected while simultaneously ensuring the efficient 
                allocation of goods and services, albeit less efficient than that of a free market economy. The 
                transition from a free market to a mixed economy would mean the government plays an important role 
                in providing merit goods and public goods, ensuring more consumers are able to access merit goods 
                and necessities such as education and healthcare, ensuring a more equitable distribution of merit 
                goods. They are also able to play an important role in regulating the consumption of demerit goods 
                and addressing information failure, making people more aware of the dangers of consuming demerit 
                goods excessively and reducing the consumption of demerit goods by introducing regulations and taxes, 
                thus reducing the negative externalities generated by demerit goods. They will also be able to intervene 
                when markets encounter unstable prices, introducing regulations to stabilise prices, such as through 
                the use of minimum or maximum pricing mechanisms. This environment also still allows firms to compete 
                against each other, as price still acts as a reliable signal of changes in consumer preferences, which 
                still allows the efficient allocation of resources.
            </p>

            <p>
                However, there should not be full or high government intervention as this may distort prices and 
                make firms more inefficient in the long run as it could stagnate competition, leading to a drop in 
                efficiency and innovation.
            </p>

            <p>
                Therefore, a transition from a free market to a mixed economy may be warranted, as the limitations 
                of free markets, such as the absence of provision of public goods, can be addressed through implementing 
                this market structure. The government can intervene to address market failures in free markets, allowing 
                both societal welfare to be ensured and encouraging efficiency, but must make sure their level of 
                intervention is optimal to carefully balance both economic efficiency and societal well-being. In 
                conclusion, all market economies should transition to a mixed economy.
            </p>
        </article>

        <h4 class="comment">Comments:</h4>

        <form action="{% url 'main:essay' chapter subtopic %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>

        <div class="comment-background">
            {% for comment in comment_list %}
            <p>
                <span class="content">{{ comment.content }}</span><br>
                <span class="info">POSTED {{ comment.date }} BY {{ comment.author }}</span>
            </p>
            <br>
            {% endfor %}
        </div>
    </main>

    <footer>
		<a href="mailto:mewconomics@gmail.com"><img src="{% static 'main/social_media_icons/gmail.svg' %}" alt="Gmail"></a>
		<a href="https://www.instagram.com/mewconomics_/profilecard/?igsh=MXIza3A4dGhmNTJtcg=="><img src="{% static 'main/social_media_icons/instagram.svg' %}" alt="Instagram"></a>
		<a href="https://www.linkedin.com/groups/14557576"><img src="{% static 'main/social_media_icons/linkedin.svg' %}" alt="LinkedIn"></a>
		<a href="https://www.facebook.com/share/1CWhchfC9e/?mibextid=LQQJ4d"><img src="{% static 'main/social_media_icons/facebook.svg' %}" alt="Facebook"></a>
		<a href="#"><img src="{% static 'main/social_media_icons/x.svg' %}" alt="X"></a>
	</footer>
</body>