@import url('base_essay.css');

.image1 {
    width: 20rem;
    height: 18rem;
    margin-bottom: 3rem;
}

.image2 {
    width: 40rem;
    height: 18rem;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    .image1 {
        width: 35rem;
        height: 30rem;
    }

    .image2 {
        width: 70rem;
        height: 30rem;
    }
}