@font-face {
	font-family: 'Baskerville Normal';
	font-style: normal;
	font-weight: normal;
	src: local('Baskerville Normal'), url("../../font/baskvl.d45976254f9e.woff") format(woff);
}

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

ul {
    list-style-type: none;
}

nav {
    background-color: #271d4f;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.logo a {
    all: initial;
    color: white;
    font-size: 0.75rem;
    word-spacing: 0.05rem;
    letter-spacing: 0.15rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 10rem;
    height: 10rem;
}

.buttons {
    display: flex;
    gap: 4.5rem;
}

li a {
    color: white;
    border: solid #a7b5fe;
    font-size: 0.75rem;
    padding-inline: 6rem;
    padding-block: 1.1rem;
    border-radius: 1rem;
    letter-spacing: 0.15rem;
}

main {
	background-color: #e6e7e8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Baskerville Normal';
    color: #543787;
    font-size: 3.2rem;
    margin-top: 9rem;
    text-align: center;
}

h3 {
    font-family: 'Baskerville Normal';
    color: #8d99d6;
    font-size: 1.5rem;
    margin-top: -1.8rem;
}

.question-background {
    background-color: #8d99d6;
    padding-inline: 1.8rem;
    border-radius: 0.8rem;
    width: 36.5rem;
}

.question-background p {
    color: #efecff;
    font-size: 0.95rem;
    word-spacing: 0.01rem;
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
    text-align: center;
}

.source-background {
    background-color: #7cb8c0;
    padding-inline: 1.8rem;
    border-radius: 0.8rem;
    width: 36.5rem;
    margin-top: 0.7rem;
}

.source-background p {
    color: #543787;
    font-size: 0.85rem;
    word-spacing: 0.02rem;
    letter-spacing: 0.15rem;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 550;
}

.video img {
    width: 1rem;
    height: 1rem;
}

.video {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 2rem;
}

.video a {
    color: #543787;
    font-size: 0.6rem;
    word-spacing: 0.02rem;
    letter-spacing: 0.15rem;
}

article h4 {
    color: #543787;
    font-family: 'Baskerville Normal';
    font-size: 1.5rem;
    position: relative;
}

article h4:nth-of-type(1) {
    right: 16.5rem;
}

article h4:nth-of-type(2) {
    right: 7rem;
}

h5 {
    color:#7cb8c0;
    font-size: 2.25rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    text-align: center;
}

article p:nth-child(n+6) {
    color: #271d4f;
    font-size: 1.1rem;
    word-spacing: 0.01rem;
    letter-spacing: 0.005rem;
    line-height: 1.6rem;
    font-weight: 550;
    padding-inline: 2.5rem;
}

.image {
    width: 40rem;
    height: 18rem;
    margin-bottom: 3rem;
}

.comment {
    font-family: 'Baskerville Normal';
    color: #543787;
    font-size: 2.3rem;
    position: relative;
    right: 13.5rem;
}

.comment-background {
	background-color: #8d99d6;
    width: 30rem;
    padding-inline: 4.5rem;
    padding-block: 1rem;
    border-radius: 2.5rem;
    margin-block: 3rem;
}

.content {
	font-family: 'Baskerville Normal';
	color:#efecff;
	font-size: 1.7rem;
}

.info {
	font-family: 'Baskerville Normal';
	color: #cecece;;
	font-size: 1.2rem;
}

footer {
    background-color: #271d4f;
    height: 14rem;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 1.5rem;
}

a img {
    width: 3.5rem;
    height: 3.5rem;
} 

img[alt="Gmail"] {
    width: 4.5rem;
    height: 4.5rem;
}

@media screen and (min-width: 768px) {
    .logo a {
        font-size: 0.9rem;
    }

    li a {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 5.5rem;
    }

    h3 {
        font-size: 2.5rem;
        margin-top: -3rem;
    }

    .question-background p {
        font-size: 1.15rem;
        letter-spacing: 0.2rem;
        line-height: 2.35rem;
    }

    .question-background {
        padding-block: 2.5rem;
        width: 62rem;
    }

    .source-background p {
        font-size: 0.95rem;
    }

    .source-background {
        padding-block: 2rem;
        width: 62rem;
    }

    .video img {
        width: 2rem;
        height: 2rem;
    }

    .video a {
        font-size: 0.95rem;
    }

    article h4 {
        font-size: 2.7rem;
    }

    article h4:nth-of-type(1) {
        right: 28.5rem;
    }

    article h4:nth-of-type(2) {
        right: 11rem;
    }

    h5 {
        align-self: start;
        margin-left: 11rem;
    }

    article p:nth-child(n+6) {
        font-size: 1.6rem;
        padding-inline: 11rem;
        word-spacing: 0.02rem;
        line-height: 2.4rem;
    }

    .image {
        width: 70rem;
        height: 30rem;
    }

    .comment {
        font-size: 2.7rem;
        position: relative;
        right: 27rem;
    }

    .comment-background {
        width: 60rem;
    }

    a img {
        width: 4rem;
        height: 4rem;
    } 
    
    img[alt="Gmail"] {
        width: 5rem;
        height: 5rem;
    }
    
    footer {
        gap: 6rem;
    }
}